body{
    background-color: #FFFCF6;
}
.block1{
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
}
nav ul{
    display: flex;
    list-style: none;
}
nav li {
    margin-right: 50px;
    font-size: 16px;
    color: #1B3B36;
}
.logo{
    margin-top: 15px;
}
.title{
    font-family: 'Felidae';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    text-transform: capitalize;
    color: #1B3B36;
    text-decoration: none;
}
nav a {
    font-family: 'ABeeZee';
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    color: #1B3B36;
    text-decoration: none;
}
nav a:hover {
    text-decoration: none;
    font-size: 16px;
}
.tel{
    font-family: 'ABeeZee';
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    color: #1B3B36;
}
.address1{
    margin-top:0;
    display: flex;
    justify-content: right;
    font-family: 'ABeeZee';
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    color: #FCD043;
}
.main_title{
    font-family: 'Felidae';
    margin-top:20px;
    margin-bottom: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 150px;
    display: flex;
    align-items: center;
    color: #1B3B36;

}
.block2{
    margin-left: 30px;
    display:flex;
    justify-content: space-between;
}
label{
    margin-left:40px;
    font-family: 'ABeeZee';
    font-style: italic;
    font-weight: 400;
    font-size: 40px;
    line-height: 92px;
    color: #232323;
    opacity: 0.64;
}

input{
    margin-left: 20px;
    margin-top: 25px;
    width: 300px;
    height: 45px;
    font-family: 'Felidae';
    font-style: normal;
    background: #232323;
    border-radius: 25px;
    border: 2px solid #797A7E;
    font-weight: 400;
    font-size: 24px;
    color: #FFFCF6;
    padding-left:10px;
}
.answers{
    margin-right: 300px;
    line-height: 84px;
}
.application{
    width: 1200px;
    display:flex;
    justify-content: space-between;
}
select{
    margin-left: 20px;
    margin-top: 25px;
    width: 320px;
    height: 50px;
    font-family: 'Felidae';
    font-style: normal;
    background: #232323;
    border-radius: 25px;
    border: 2px solid #797A7E;
    font-weight: 400;
    font-size: 24px;
    color: #FFFCF6;
    padding-left:10px;
}
.reserve{
    margin-top: 25px;
    margin-left: 585px;
    background: #DC9B39;
    border-radius: 20px;
    width: 300px;
    padding: 10px;
    font-family: 'ABeeZee';
    font-style: italic;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: #FFFCF6;
    text-decoration: none;
}
